<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.lin.camino">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AccionPortada"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccionEtapaSeleccion"
            android:label="Selección de etapa"></activity>
        <activity
            android:name=".AccionUsuarioSeleccion"
            android:label="Selección de usuario"></activity>
        <activity
            android:name=".AccionCaminoActual"
            android:label="Camino actual"></activity>
        <activity
            android:name=".AccionUsuarioNuevo"
            android:label="Nuevo usuario"></activity>
        <activity
            android:name=".AccionMenuPrincipal"
            android:label="Menú principal"></activity>
        <activity
            android:name=".AccionCaminoNuevo"
            android:label="Nuevo camino"></activity>
        <activity
            android:name=".AccionUsuarioDatos"
            android:label="Datos de usuario"></activity>
    </application>

</manifest>
