<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.lin.camino">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AccionPortada"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccionEtapaSeleccion"
            android:label="@string/title_activity_etapa_seleccion"></activity>
        <activity
            android:name=".AccionUsuarioSeleccion"
            android:label="@string/title_activity_usuario_seleccion"></activity>
        <activity
            android:name=".AccionCaminoActual"
            android:label="@string/title_activity_camino_actual"></activity>
        <activity
            android:name=".AccionUsuarioNuevo"
            android:label="@string/title_activity_usuario_nuevo"></activity>
        <activity
            android:name=".AccionMenuPrincipal"
            android:label="@string/title_activity_menu_principal"></activity>
        <activity
            android:name=".AccionCaminoNuevo"
            android:label="@string/title_activity_camino_nuevo"></activity>
        <activity
            android:name=".AccionUsuarioDatos"
            android:label="@string/title_activity_usuario_datos"></activity>
    </application>

</manifest>
