<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.lin.camino" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Portada"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".Etapa_Seleccionada"
            android:label="@string/title_activity_etapa" >
        </activity>
        <activity
            android:name=".Seleccion_Usuario"
            android:label="@string/title_activity_seleccion__usuario" >
        </activity>
        <activity
            android:name=".Camino_Actual"
            android:label="@string/title_activity_camino__actual" >
        </activity>
        <activity
            android:name=".Formulario_Nuevo_Usuario"
            android:label="@string/title_activity_formulario__nuevo__usuario" >
        </activity>
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_menu_principal" >
        </activity>
        <activity
            android:name=".Nuevo_Camino"
            android:label="@string/title_activity_nuevo__camino" >
        </activity>
        <activity
            android:name=".sf"
            android:label="@string/title_activity_sf" >
        </activity>
        <activity
            android:name=".datos_usuario"
            android:label="@string/title_activity_datos_usuario" >
        </activity>
        <activity
            android:name=".Datos_Usuario"
            android:label="@string/title_activity_datos__usuario" >
        </activity>
    </application>

</manifest>
